@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Aref+Ruqaa);

body{
  background-color:#4d3319;
}
.container{
  
  font-size:20px;
  font-family: 'Aref Ruqaa',Helvetica;
  letter-spacing:2px;
  color:#FFE4E1;
  background:fixed url("https://github.com/rkm09/FCC/blob/master/bg-khus1.png?raw=true");
    /*background-size: cover;*/
    background-repeat: repeat;
    border: 1px solid black;
    box-shadow:0px 0px 15px 25px black,0px 0px 20px 35px #ff9933;
}
.main1{
  opacity:0.5;
}
.bg1{
  text-align:center;
}
img {
    display:block;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 6px 2px  #ff9933;
}
img:hover{
   box-shadow: 0px 0px 6px 2px  #ff9933;
}
#img-caption{
  opacity:0.0;
}
a{color:#FFD700;}
a:hover{
  color:#01FF70 ;
  background-color:rgba(0,0,0,0.5);
  text-decoration:none;
   }

u{
  font-family: 'Sofia', Monospace;
  padding:"20px 360px 20px 20px";
}
h1{
  padding-top:20px;
  font-family:'Sofia',Monospace;
  color: #FFD700;
  text-shadow: 0px 0px 4px  #ff9933;
  letter-spacing:0.5px;
}
h2{
  margin-left:30px;
  margin-right:30px;
  color:#FFDC00;
  text-shadow: 0px 0px 4px  #ff9933;
  font-family: 'Aref Ruqaa',Helvetica;
  letter-spacing:2px;
}
.sanskrit{
  color:#FFD700;
  text-shadow: 0px 0px 6px  #ff9933;
  font-family: 'Sofia',Helvetica;
}
.sanskrit:before{
  content:"||";
  letter-spacing: -10px;
  text-shadow: 0px 0px 6px  #ff9933;
}
.sanskrit:after{
  content:"||";
  letter-spacing: -10px;
  text-shadow: 0px 0px 6px  #ff9933;
  padding-left:10px;
}

.translation{
  font-family:'Dancing Script',helvetica;
  color:#fff;
}
#year{
  color:#fff;
  font-family: 'Sofia',Helvetica;
  letter-spacing:2px;
  text-shadow: 0px 0px 4px  #ff9933;
}
.extract{
  margin-left:30px;
  margin-right:30px;
  font-size:14px;
  font-family: 'Aref Ruqaa',Helvetica;
  letter-spacing:2px;
  text-shadow: 0px 0px 6px  #ff9933;
}
.yellow-border1 {
    border-color:#FFD700 ;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin:auto;
  }
.yellow-border2 {
    border-color: #FFD700;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    margin:auto;
  }
.small-image{
  width:180px;
  height:240px;
}
#intro{
  margin-left:30px;
  margin-right:30px;
  font-family: 'Aref Ruqaa',Helvetica;
  letter-spacing:2px;
  font-size:20px;
  background-color:rgba(0,0,0,0.4);
  border-radius:2px;
  border:1px solid #FFD700;
  padding:20px;
  box-shadow: 0px 0px 6px 2px  #ff9933;
}
#intro:hover{
  color:#ffff66;
  background-color:rgba(0,0,0,0.8);
  box-shadow: 0px 0px 6px 2px  #ff9933;
  
}
.list-group{
  border: 1px solid #FFD700;
  border-radius: 5px;
  margin-left:30px;
  margin-right:30px;
  font-family: 'Aref Ruqaa',Helvetica;
  letter-spacing:2px;
  font-size:20px;
   box-shadow: 0px 0px 6px 4px  #ff9933;
}
.list-group-item{
  background-color:rgba(0,0,0,0.4) ;
  border-top: 1px  dotted #FFD700; 
  border-left:none;
  border-right:none;
  color:#fff ;
}
.list-group:hover{
  color:#ffff66;
  background-color:rgba(0,0,0,0.6);
}
.list-group-item:hover{
  color:#ffff66;
  background-color:rgba(0,0,0,0.8);
}
blockquote{
  font-size: 24px;
  font-family: 'Aref Ruqaa',Helvetica;
  letter-spacing:2px;
  background: rgba(0,0,0,0.5);
  border-left: 10px solid #FFD700;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
  margin-left:30px;
  margin-right:30px;
}
blockquote:hover{
  color:#ffff66;
  background-color:rgba(0,0,0,0.8);
   box-shadow: 0px 0px 6px 2px  #ff9933;
}
.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 25px;
  color: #FFD700;
  font-size: 3em;
  text-shadow: 0px 0px 6px  #ff9933;
  padding-right:10px;
}
.quotation:after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 25px;
  color:#FFD700;
  font-size: 3em;
  text-shadow: 0px 0px 6px  #ff9933;
}
.s1{
  margin:0;
  text-align: right;
  font-size: 18px;
  font-family: 'Aref Ruqaa',Helvetica;
  letter-spacing:2px;
   text-shadow: 0px 0px 6px  #ff9933;
}
#end{
   font-family:'Dancing Script';
   font-size:20px;
   color: rgba(255, 204, 153,0.8);
}
hr.style1 {
	border-top: 3px dotted #000;
	text-align: center;
  box-shadow: 0px 0px 6px 5px #ff9933;
}
hr.style1:after {
	content: '\00950';
	display: inline-block;
	position: relative;
	top:-30px;
  padding:5px;
	background: #000;
  border:0px;
  border-radius:45%;
	color: #FFDC00;
	font-size: 35px;
  text-shadow: 0px 0px 6px  #ff9933;
}

#links{
  margin:50px 250px 50px 250px;
  background-color:rgba(0,0,0,0.3);
  border:0px;
  border-radius:10px;
  padding:20px;
}
#links:hover{
  background-color:rgba(0,0,0,0.6);
   box-shadow: 0px 0px 6px 2px  #ff9933;
}
.source{
  color:grey;
  font-size:12px;
}
